<head>
    <h1 style="text-align:center; font:message-box;font-size: 30px;color: black;text-shadow: 2px 2px greenyellow;"><b>BOOK STORE</b></h1>
     <style type=text/css> 
        /* .main{
            width:1200px;
            height: 700px;
            border:2px solid grey;
        } */
        nav{
            margin-top:-10px;
            /* position:fixed; */
            widows: 1500px;;
        }
            ul 
            {
                list-style-type: none;
                overflow:auto;
                background-color: #333;
             

  
            }

            li
            {
              float: left;
            }

            li a
            {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: rgb(9, 146, 20);
            }
        </style>
</head>
<body>
    <div class="main">
            <nav> <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="news.asp">News</a></li>
                    <li><a href="contact.asp">Contact</a></li>
                    <li><a href="about.asp">About</a></li>
            </ul></nav>
    </div>
</body>