<link rel="stylesheet" href="/style.css">
<div style="margin-left: 500;margin-top: 300">
        <form method="post" action="/images" >
                Title:<br>
                <input type="text" name="title" value="title"><br>
                Image:<br>
                <input type="text" name="image" value="image url"><br>
                Description:<br>
                <input type="text" name="description" value="description"><br><br>
                <input type="submit" value="Submit">
              </form>
</div>
