<link rel="stylesheet" href="/style.css">
<h1>This is services page</h1>

 

<% bookss.forEach(function(k){ %>
  <li> <%= k.title %> ------ <%= k.auhtor%> </li> 
    <%  }); %> 

<!-- <% for(var i=0;i<bookss.length;i++) { %>
    <%= bookss[i].title %> ---- <%= bookss[i].auhtor %><br>
<% } %> -->
